* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

svg, img{
    width: 2rem;   
    height: 2rem;
    fill: currentColor; 
    align-self: center;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
    grid-auto-flow: column;
}

.main-container-left-container{
    background-color: #1293D5;
    color: white;
    z-index: 2;
}

.main-container-right-container{
    display: flex;
    flex-direction: column;
}

.main-container-left{
    height: 40rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
}

.nav-bar-description{
    font-weight: 700;
    justify-self: left;
    font-size: 1.25rem;
}

.dashboardContainer{
    height: 10vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    gap: 0.5rem;
    line-height: 0;
}

.dashboard-icon {
  width: 3em;   
  height: 3em;
  fill: currentColor; 
  align-self: center;
}

.dashboard{
    font-size: 2rem;
    letter-spacing: -4%;
}

.main-container-left > svg {
  width: 1.5rem;   
  height: 1.5rem;
  fill: currentColor; 
  align-self: center;
}

.header{
    background-color: white;
    height: 11.5em;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0em 0em 0.5em 0em #999;
    z-index: 1;
}

.header-upper-section{
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 2fr;
    place-items: center;
}

.search-icon{
    justify-self: right;
    padding-right: 1em;
    line-height: 0;
}

.search-field{
    background-color: #E2E9F0;
    width: 100%;
    border-radius: 1.5em;
    height: 2.25rem;
}

.bell-icon{
    justify-self: right;
    line-height: 0;
}

.profile-image-upper-header{
    width: 3rem;
    height: 3rem;
}

.profile-name{
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: -4%;
    justify-self: left;
}

.header-lower-section{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    place-items: center;
    flex: 1;
    padding: 1em 2em;
}

.header-btn{
    height: 3rem;
    width: 8rem;
    border-radius: 2rem;
    background-color: #1293D5;
    display: grid;
    place-items: center;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

.profile-description{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: 35% 65%;
    font-weight: 700;
}

.profile-image{
    height: 5rem;
    width: 5rem;
    justify-self: right;
    margin-right: 2rem;
}

.hi-there{
    font-size: 1.25rem;
}

.header-profile-name{
    font-size: 2rem;
}

.mainContent{
    background-color: #E2E9F0;
    flex: 1;
}